*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-header {
  display: block;
  text-align: center;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  display: flex;
}
